{% extends "tutorial/model.html" %}
{% load staticfiles %}

{% block body_main_content %}


    <h1>Tutorial: Propylene Glycol (PG) vs. Vegetable Glycerin (VG) E-juice</h1>
    <h3>Overview of Propylene Glycol (PG) vs. Vegetable Glycerin (VG) E-juice</h3>
    <p>Many beginners and even some of more experienced vapers still confuse and are unsure about the differences between Propylene Glycol (PG) vs. Vegetable Glycerin (VG) e-juice.
        To help you understand better and learn some background information, pros and cons, and differences we created this tutorial. First things first, lets start with some background and terminology.
        The term PG is an abbreviation for Propylene Glycol, and the term VG comes from Vegetable Glycerin. Typical e-juice or e-liquid contains four ingredients. These ingredients are
        Propylene Glycol (PG) or Vegetable Glycerin (VG), water, flavoring, and nicotine. In many cases manufacturers of e-juice mix PG and VG to get benefits of both ingredients.
        To better understand the differences between the properties of PG and VG juices, we will compare 100% Propylene Glycol e-juice to 100% Vegetable Glycerin.
        At the end of the tutorial we will touch on mixtures of both types of ingredients, but for now lets focus on pure Propylene Glycol (PG) vs. Vegetable Glycerin (VG) E-juice.
        Be sure to check our lines of Bombies and NicQuid e-juices.</p>

    <h3>Background on Propylene Glycol (PG)</h3>
    <p>Propylene Glycol is an organic compound produced from Propylene Oxide. It is colorless, nearly odorless, and retains low viscosity. Food grade Propylene Glycol is recognized safe by the U.S.
        Food and Drug Administration. The main applications for Propylene Glycol are solvents, humectants, preservatives in food, tobacco products, pharmaceutical products, and of course e-juice.</p>

    <h3>Background on Vegetable Glycerin (VG)</h3>
    <p>Vegetable Glycerin is an all natural liquid generally extracted from plant oils, in particular, soy, coconut oil, and palm oil. It is typically clear with little hint of color, odorless,
        in some cases sweet, and relatively viscous. Like Propylene Glycol it is considered safe by he U.S. Food and Drug Administration. The main applications of Vegetable Glycerin are cosmetics products,
        food production, and e-juice.</p>
    <br>
    <img src="{% static 'img/Tutorial/pg_vs_vg.png' %}" style="width: 100%">
    <br><br>
    <h3>Overview of Propylene Glycol (PG) E-juice</h3>
    <p>Propylene Glycol (PG) is the more popular e-liquid base, for many reasons. To start, it is less viscous than Vegetable Glycerin and easier to handle when (re)filling your atomizer, cartomizer,
        or clearomizer. If you are unfamiliar with different types of e-liquid delivery devices be sure to check out our Tutorial: Atomizer vs Cartomizer vs Clearomizer. Another benefit of low viscosity
        is coil build up or gunk which accumulates over time. Propylene Glycol (PG) has low density which means you will get less gunk when compared to Vegetable Glycerin (VG). Furthermore, it is
        absorbed much faster by wick material and polyfill fabric, which means that you can start vaping faster. Since Propylene Glycol is tasteless and odorless there is little or no flavor distortion.
        In fact PG-based e-juices produce highest flavor intensity and throat hit of the two substances. Also vapor feels warmer since it takes less time and power for Propylene Glycol to reach the level
        of vaporization. The negative aspects of PG-based are rare cases of allergic reaction, but we will go in more details about safety and health issues further down in the tutorial. Also,
        Propylene Glycol (PG) e-juices produce less denser vapor, which is considered by many a con.</p>

    <h3>Overview of Vegetable Glycerin (VG) E-juice</h3>
    <p>Vegetable Glycerin (VG) is less popular when compared to Propylene Glycol (PG) base. It has much higher viscosity, which makes it a perfect base for vapers who love a thicker and higher density
        vapor cloud. It is easier on your throat which means it delivers less throat hit. Unlike PG base, Vegetable Glycerin contains preexisting flavor and sweetness. This means that in many cases the
        added flavoring will be diluted and final product (e-liquid) will be sweeter. When comparing Propylene Glycol (PG) vs. Vegetable Glycerin (VG) E-juices in terms of flavor intensity,
        Vegetable Glycerin (VG) tends to deliver duller flavors. Another negative aspect of VG base is gunk residue, because of high density and consistency of VG you will notice faster build up around
        your coil and inside walls of your e-juice delivery device. Furthermore, higher viscosity of Vegetable Glycerin (VG) typically requires more power and longer time to achieve optimal vaping
        temperature. When using in devices that employ polyfill and wick materials, allow for additional time after refilling for e-juice to be absorbed before starting to vape.</p>

    <h3>Mixing Propylene Glycol (PG) and Vegetable Glycerin (VG)</h3>
    <p>Most of the manufactures of e-juices today mix both PG and VG together to retain positive properties of both substances. Different manufacturers have different proportions but typically you would
        see 50/50, 60/40 or 70/30 ratios of Propylene Glycol (PG) to Vegetable Glycerin (VG). By combining the two substances you achieve a balance in terms of flavor intensity, throat hit, and vapor
        density. If you still unsure about Propylene Glycol (PG) vs. Vegetable Glycerin (VG) E-juice, different ratios of mixed PG and VG is the best way to understand which is more preferable and
        enjoyable for you.</p>

    <h3>Safety and Health Issues for Propylene Glycol (PG) vs. Vegetable Glycerin (VG) E-juice</h3>
    <p>Both Propylene Glycol (PG) and Vegetable Glycerin (VG) are considered safe and acceptable substance to be ingested by the U.S. Food and Drug Administration. In fact both substances are part of
        many types of food, pharmaceutical and cosmetic products. That said, there are rare cases of minor allergic reaction to Propylene Glycol (PG). Typical allergic reaction consists of skin irritation
        or rash, and/or minor throat inflammation. In most cases people who are allergic to Propylene Glycol (PG) already know that since it is used in many foods and day-to-day products. However, if you
        are experiencing any of the symptoms when vaping PG-based e-juice, stop immediately, allow for sufficient time for your body to recover, and switch to VG-based e-juice.</p>

{% endblock %}